.card{
    width: 440px;
    height: 250px;
    position: absolute;
    /* backdrop-filter: blur(5px); */

    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    border: 15px solid transparent;
    
    /* opacity: 0;
    animation-play-state: running;
    animation: animate 5s linear infinite;
    animation-delay: calc(1s * var(--d)); */
}

.card .rolebg{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.1); */
    transform-origin: bottom;
    transition: 0.5s;
    
}

.rolebg img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.card .role{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
}
.role img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card .content{ 
    width: 440px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    transition: 0.5s;
}
.content h1{
    color: #000;
    font-weight: 200;

}
.content p{
    color: #000;
    font-weight: 200;
    padding-top: 0px;
    font-size: 14px;
}
.card:hover .rolebg{
    transform: perspective(1000px) rotateX(30deg)
     skewX(-20deg) scale(1.3) translateX(-30px);
}
.card:hover .role{
    transform: scale(1.5) translateX(-19px);
}
.card:hover .content{
    opacity: 1;
    transform: translateY(10px);
}

/*card2*/

.cardyolo{
    width: 440px;
    height: 250px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: 15px solid transparent;
}

.cardyolo .yolobg{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: bottom;
    transition: 0.5s;
}

.yolobg img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.cardyolo .yolorole{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;    
}
.yolorole img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: 0.1s;
    opacity: 0;
}
.cardyolo .yolocontent{ 
    width: 440px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    transition: 0.5s;
}
.yolocontent h1{
    color: #000;
    font-weight: 200;

}
.yolocontent p{
    color: #000;
    font-weight: 200;
    padding-top: 0px;
    font-size: 14px;
}
.cardyolo:hover .yolobg{
    transform: perspective(1000px) rotateX(30deg)
    skewX(-20deg) scale(1.3) translateX(-30px);
}
.cardyolo:hover .yolorole{
    transform: scale(1.3) translateX(-19px);
}
.cardyolo:hover .yolorole img{
    opacity: 1;
}
.cardyolo:hover .yolocontent{
    opacity: 1;
    transform: translateY(10px);
}

/*card2*/

.mc{
    width: 440px;
    height: 250px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: 15px solid transparent;
}

.mc .mcbg{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: bottom;
    transition: 0.5s;
    
}

.mcbg img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.mc .mcrole{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
    
}
.mcrole img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    position: 50% 0%;
}

.mc .mcparticle{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
    opacity: 0;
    
}
.mcparticle img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    position: 50% 0%;
}

.mc .mccontent{ 
    width: 440px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    transition: 0.5s;
}
.mccontent h1{
    color: #000;
    font-weight: 200;

}
.mccontent p{
    color: #000;
    font-weight: 200;
    padding-top: 0px;
    font-size: 14px;
}
.mc:hover .mcbg{
    transform: perspective(1000px) rotateX(30deg)
    skewX(-20deg) scale(1.3) translateX(-30px);
}
.mc:hover .mcrole{
    transform: scale(1.3) translateX(-19px);
}
.mc:hover .mc2role{
    transform: scale(1.3) translateX(-19px);
}
.mc:hover .mc2role img{
    content: url(images/mc2role1.png);
}
.mc:hover .mcparticle
{
    transform: scale(1.3) ;
    opacity: 1;
}
.mc:hover .mccontent{
    opacity: 1;
    transform: translateY(10px);
}

.mc2role{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
    
}
.mc2role img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: 50% 0%;
    transform: scale(1.56);
}