.card{
    width: 440px;
    height: 250px;
    position: absolute;
    /* backdrop-filter: blur(5px); */

    /* display: flex; */
    justify-content: space-between;
    align-items: center;

    /* opacity: 0;
    animation-play-state: running;
    animation: animate 5s linear infinite;
    animation-delay: calc(1s * var(--d)); */
}

.card .rolebg{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.1); */
    transform-origin: bottom;
    transition: 0.5s;
    
}

.rolebg img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.card .role{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
}
.role img{
    width: 100%;
    height: 100%;
}
.card .content{ 
    width: 440px;
    height: 10px;
    color: #fff;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
}
.content h1{
    font-weight: 200;

}
.content p{
    font-weight: 200;
    padding-top: 10px;
    font-size: 14px;
}
.card:hover .rolebg{
    transform: perspective(1000px) rotateX(30deg)
     skewX(-20deg) scale(1.3) translateX(-10px);
}
.card:hover .role{
    transform: scale(1.3) ;
}
.card:hover .content{
    opacity: 1;
    transform: translateY(10px);
}