:root{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes animate{
    0%{
        opacity: 0;
        z-index: 0;
        transform: translateY(120%) scale(0.5);
    }
    30%{
        opacity: 0.6;
        z-index: 1;
        transform: translateY(100%) scale(0.8);
    }
    50%{
        opacity: 1;
        z-index: 2;
        transform: translateY(0%) scale(1);
    }
    75%{
        opacity: 0.6;
        z-index: 1;
        transform: translateY(-100%) scale(0.8);
    }
    95%{
        opacity: 0;
        z-index: 0;
        transform: translateY(-120%) scale(0.5);
    }
}

.wrap{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(depth.png) no-repeat;
    background-size: cover;
    z-index: -10;
    
}

.wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(depth.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: blur(10px);
        z-index: 0;
}

.list{
    width: 450px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.card{
    width: 440px;
    height: 250px;
    position: absolute;
    /* backdrop-filter: blur(5px); */

    /* display: flex; */
    justify-content: space-between;
    align-items: center;

    /* opacity: 0;
    animation-play-state: running;
    animation: animate 5s linear infinite;
    animation-delay: calc(1s * var(--d)); */
}

.card .rolebg{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.1); */
    transform-origin: bottom;
    transition: 0.5s;
    
}

.rolebg img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.card .role{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    transform-origin: bottom;
    transition: 0.5s;
}
.role img{
    width: 100%;
    height: 100%;
}
.card .content{ 
    width: 440px;
    height: 10px;
    color: #fff;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
}
.content h1{
    font-weight: 200;

}
.content p{
    font-weight: 200;
    padding-top: 10px;
    font-size: 14px;
}
.card:hover .rolebg{
    transform: perspective(1000px) rotateX(30deg)
     skewX(-20deg) scale(1.3) translateX(-10px);
}
.card:hover .role{
    transform: scale(1.3) ;
}
.card:hover .content{
    opacity: 1;
    transform: translateY(10px);
}
.list:hover > .card{
    animation-play-state: paused;
    
}
.list:hover > .card:hover{
    transform: scale(1);
    opacity: 1;
}

